
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/bootstrap.css" type="text/css" />
    <link href="~/Content/ThemeContent/Style/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="/Content/ThemeContent/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/magnific-popup.css" type="text/css" />

    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/bs-switches.css" type="text/css" />


    <!-- Date & Time Picker CSS -->
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/daterangepicker.css" type="text/css" />



    <link rel="stylesheet" href="/Content/ThemeContent/css/custom.css" type="text/css" />
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

    <!-- Seo Demo Specific Stylesheet -->
    <link rel="stylesheet" href="/Content/ThemeContent/css/colors.php?color=FE9603" type="text/css" /> <!-- Theme Color -->
    <link rel="stylesheet" href="/Content/ThemeContent/demos/seo/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/demos/seo/seo.css" type="text/css" />


    <!-- / -->
    <!-- Document Title
    ============================================= -->
    <title>Contact Us - SEO Demo | Canvas</title>


</head>
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">




        <section id="content">

            <div class="content-wrap pb-0">

                <div class="container">
                   

                

                    <div class="heading-block border-bottom-0 center">
                     
                        <h3 class="nott ls0">Login Process</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="row mt-4 col-mb-50 mb-0">
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box">
                                <div class="fbox-icon mb-4">
                                    <a href="#"><i class="icon-line-paper-stack border-0"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott">Admin Login:</h3>
                                    <div class=" p-2">
                                        <ul class="list-group">
                                            <li class="list-group-item"><strong>Email</strong>: admin@exam.com </li>
                                            <li class="list-group-item"><strong>Password</strong>: 123456</li>
                                            <li class="list-group-item"><strong>User Type</strong>: Admin</li>

                                        </ul>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box">
                                <div class="fbox-icon mb-4">
                                    <a href="#"><i class="icon-instagram2 si-colored si-instagram border-0"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott">Teacher Login:</h3>
                                    <div class=" p-2">
                                        <ul class="list-group">
                                            <li class="list-group-item"><strong>Email</strong>: teacher@gmail.com </li>
                                            <li class="list-group-item"><strong>Password</strong>: 123456</li>
                                            <li class="list-group-item"><strong>User Type</strong>: Teacher</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box">
                                <div class="fbox-icon mb-4">
                                    <a href="#"><i class="icon-email2 si-colored si-google border-0"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott">Student Login: </h3>
                                    <div class=" p-2">
                                        <ul class="list-group">
                                            <li class="list-group-item"><strong>Email</strong>: fahad@gmail.com </li>
                                            <li class="list-group-item"><strong>Password</strong>: 672551</li>
                                            <li class="list-group-item"><strong>User Type</strong>: Teacher</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>

                <div class="clear"></div>

                <!-- Features
            ============================================= -->
                <div class="section mb-0">
                    <div class="container">
                        <div class="heading-block border-bottom-0 center">
                         
                            <h3 class="nott ls0">Project Configuration </h3>
                        </div>
                        <div class="row col-mb-30 align-content-stretch">

                            <div class="col-lg-6 col-md-6 d-flex">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="feature-box flex-column">
                                            <div class="fbox-icon mb-3">
                                                <img src="/content/themecontent/demos/seo/images/icons/seo.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="nott ls0 text-larger">Database Info</h3>
                                                <p class="text-smaller">Following are the important information about database. SQL server 2019 is used in the project!</p>
                                            </div>
                                            <ul class="iconlist ms-3 mt-4 mb-0">
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> SQL server is used</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Database name is OnlineQuizSystem</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Install SQL server on your PC</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Install SQL server management studio</li>
                                                <li class="text-muted"><i class="icon-check text-smaller color"></i> Import database OnlineQuizSystem</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-6 col-md-6 d-flex">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="feature-box flex-column">
                                            <div class="fbox-icon mb-3">

                                                <img src="/content/themecontent/demos/seo/images/icons/adword.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="nott ls0 text-larger">Code Info</h3>
                                                <p class="text-smaller">This project is build with .NET C# ASP MVC. Some important info related to code are:</p>
                                            </div>
                                            <ul class="iconlist ms-3 mt-4 mb-0">
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> C# code language</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Visual Studio 2019 for development is used</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Data base first approach is used</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> ASP MVC 5 design is used.</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Bootsrap is used for UI</li>
                                                <li class=" text-muted"><i class="icon-check text-smaller color"></i> JQuery and JavaScript are also used.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 d-flex">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="feature-box flex-column">
                                            <div class="fbox-icon mb-3">

                                                <img src="/content/themecontent/demos/seo/images/icons/analysis.svg" alt="Feature Icon" class="bg-transparent rounded-0">

                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="nott ls0 text-larger">How To Run?</h3>
                                                <p class="text-smaller">Following are the important instruction that you should use for running the project:</p>
                                            </div>
                                            <ul class="iconlist ms-3 mt-4 mb-0">
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Install SQL Server  and import database from the downloaded file</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Open the project file in visual studio 2019</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Change connection string in web.config file of downloaded project </li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> In visual studio, right click on project and click on build</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Then run the project in visual studio</li>
                                                <li class=" text-muted"><i class="icon-check text-smaller color"></i> Your project will open in browser</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 d-flex">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <div class="feature-box flex-column">
                                            <div class="fbox-icon mb-3">

                                                <img src="/content/themecontent/demos/seo/images/icons/experience.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                                            </div>
                                            <div class="fbox-content">
                                                <h3 class="nott ls0 text-larger">How To Run from IIS?</h3>
                                                <p class="text-smaller">You can deploye the project any where online on IIS or can deploye on your local IIS.</p>
                                            </div>
                                            <ul class="iconlist ms-3 mt-4 mb-0">
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Open internet information service (IIS) in your PC</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Add a new website, give any name, and give any port number</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Give the path of your project folder "OnlineQuizSystem" in path of site </li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Save all changes</li>
                                                <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Copy and past the path of you site in browser</li>
                                                <li class=" text-muted"><i class="icon-check text-smaller color"></i> The login page will open in browswer from where you can login now</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            
            </div>
        </section><!-- #content end -->



    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="/Content/ThemeContent/js/jquery.js"></script>
    <script src="/Content/ThemeContent/js/plugins.min.js"></script>


    <!-- Date & Time Picker JS -->
    <script src="/Content/ThemeContent/js/components/moment.js"></script>
    <script src="/Content/ThemeContent/js/components/timepicker.js"></script>
    <script src="/Content/ThemeContent/js/components/datepicker.js"></script>

    <!-- Include Date Range Picker -->
    <script src="/Content/ThemeContent/js/components/daterangepicker.js"></script>

    <script>
        $(function () {
            $('.component-datepicker.default').datepicker({
                autoclose: true,
                startDate: "today",
            });

            $('.component-datepicker.today').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true
            });

            $('.component-datepicker.past-enabled').datepicker({
                autoclose: true,
            });

            $('.component-datepicker.format').datepicker({
                autoclose: true,
                format: "dd-mm-yyyy",
            });

            $('.component-datepicker.autoclose').datepicker();

            $('.component-datepicker.disabled-week').datepicker({
                autoclose: true,
                daysOfWeekDisabled: "0"
            });

            $('.component-datepicker.highlighted-week').datepicker({
                autoclose: true,
                daysOfWeekHighlighted: "0"
            });

            $('.component-datepicker.mnth').datepicker({
                autoclose: true,
                minViewMode: 1,
                format: "mm/yy"
            });

            $('.component-datepicker.multidate').datepicker({
                multidate: true,
                multidateSeparator: " , "
            });

            $('.component-datepicker.input-daterange').datepicker({
                autoclose: true
            });

            $('.component-datepicker.inline-calendar').datepicker();

            $('.datetimepicker').datetimepicker({
                showClose: true
            });

            $('.datetimepicker1').datetimepicker({
                format: 'LT',
                showClose: true
            });

            $('.datetimepicker2').datetimepicker({
                inline: true,
                sideBySide: true
            });

            $('.datetimepicker3,.datetimepicker4').datetimepicker();

            // .daterange1
            $(".daterange1").daterangepicker({
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light"
            });

            // .daterange2
            $(".daterange2").daterangepicker({
                "opens": "center",
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY h:mm A'
                },
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light"
            });

            // .daterange3
            $(".daterange3").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            },
                function (start, end, label) {
                    var years = moment().diff(start, 'years');
                    alert("You are " + years + " years old.");
                });

            // reportrange
            function cb(start, end) {
                $(".reportrange span").html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            cb(moment().subtract(29, 'days'), moment());

            $(".reportrange").daterangepicker({
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light",
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            // .daterange4
            $(".daterange4").daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                },
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light"
            });

            $(".daterange4").on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $(".daterange4").on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

        });

    </script>



    <!-- Main Particles Js
    ============================================= -->
    <script src="/Content/ThemeContent/js/particles/particles.min.js"></script>
    <script src="/Content/ThemeContent/js/particles/particles-line.js"></script><!-- Particles Line -->
    <!-- Footer Scripts
    ============================================= -->
    <script src="/Content/ThemeContent/js/functions.js"></script>

    <!--Some common java script-->
    <script type="text/javascript">

        function showSearchLoader() {
            
            $("#search_loader").css("display", "block");
        }

        function hideSearchLoader() {
            $("#search_loader").css("display", "none");
        }

    </script>

   
</body>
</html>
