@using DAL
@using DAL.Entities
@using DAL.Helpers.PageHelpers
@using DAL.Services
@using DAL.CommonModels
@using BSUStudentManagement.CommonCode
@model BasicDataModels


<div class="table-responsive">
    <table class="table table-bordered table-hover mb-0">
        <thead>
            <tr>

                <th>Studnet ID</th>

                <th>User Name</th>
                <th>Email</th>
                <th>Course Name</th>

            </tr>
        </thead>
        <tbody>
            @{
                if (Model.student_courses_list.Count() > 0)
                {
                    foreach (var item in Model.student_courses_list)
                    {
                        <tr>
                            <td>@item.student_id</td>
                            <td>

                                @item.user_name

                            </td>
                            <td>     @item.email</td>
                            <td>     @item.title</td>


                        </tr>
                    }

                }
            }

        </tbody>
    </table>
</div>

<div class="mt-3 ustify-content-end" data-label="pagination-div" style="float:right;">


    @{
        if (Model != null && Model.pageHelperObj != null)
        {
            PagerHelper ph = new PagerHelper();
            ph.CurrentPage = Model.pageHelperObj.CurrentPage;
            ph.TotalRecords = Model.pageHelperObj.TotalRecords;
            ph.RecordsPerPage = Model.pageHelperObj.RecordsPerPage;

            ph.AjaxEnabled = true;
            ph.OnClientClickAjaxCall = "PaginationAfterAjax(this)";

            @await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", ph)
        }

    }

</div>




<div class="line"></div>


